# Operating system files
.Spotlight-V100
.Trashes
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

WORK
wp-cli.yml
tmp/*
bower_components
node_modules
.bundle
.sass-cache
vendor

wp
style.css
theme/static/*
!.keep
theme/assets/*
!.keep

deploy