# Operating system files
.Spotlight-V100
.Trashes
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

#misc
WORK/*

wp-cli.yml

#frontend files
vendor/*
tmp/*
bower_components/*
node_modules/*
.bundle/*
.sass-cache/*
!.keep

#--theme files----------------
theme/style.css
theme/vendor

#art_server.php
#public/js
#public/css
#public/vendor
#public/tmp/*
#!.keep
#public/wp-content

wp
