# .gitignore file for starting website.

# Operating system files
.Spotlight-V100
.Trashes
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

tmp
bower_components
node_modules
.bundle
.sass-cache

wp-cli.yml
wp-cli.yml.sample
vendor
!theme/assets/vendor
theme/style.css