@charset "utf-8";


//PRODUCTION
//$bootstrap-sass-asset-helper: false;
//$fa-sass-asset-helper: false;
//$icon-font-path:"../vendor/bootstrap/fonts/";
//$fa-font-path: "../vendor/fontawesome/";


//DEVELOPMENT
$bootstrap-sass-asset-helper: true;
$fa-sass-asset-helper: true;
$icon-font-path:"bootstrap/fonts/";
$fa-font-path: "fontawesome/";

@import "bootstrap-compass";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";
@import "bootstrap/glyphicons";
@import "font-awesome-compass";
@import "font-awesome";
